<div class="container">

<ul class="nav nav-bordered">
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li class="active">
    <a href="">Facebook</a>
  </li>
  <li class="active">
    <a href="http://www.youtube.com">Youtube</a>
  </li>
  <li class="active">
    <a href="/contact">Contact</a>
  </li>
</ul>

<div class="block text-center">
<h1> About Us</h1>

<p> 
  The focus of Occupancy Experts is goal oriented positioning and marketing through internet booking engines to create immediate and long lasting increases in your hotels occupancy.  We sincerely believe that success lies in massive internet exposure along with gaining and maintaining top positioning on all major internet booking engines.  In addition we help generate group leads and fully audit current pricing of any existing resources your hotel is already partnered with to ensure you are receiving maximum results.  Our expertise helps hotels gain positioning in the giant world of internet marketing, and reap the benefits of the many resources t available. 
</p>  
<p>
  We begin by designing a custom marketing plan for your hotel followed by successfully implementing, maintaining and growing your plan all while sharing the results along the way.  We do all the heavy lifting, leaving you the time to operate your property. We lead hotels through renovations, re-brandings, grand openings, and unfavorable economic conditions.
  </p>

</div>