<div class="container">

<ul class="nav nav-bordered">
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li class="active">
    <a href="">Facebook</a>
  </li>
  <li class="active">
    <a href="http://www.youtube.com">Youtube</a>
  </li>
  <li class="active">
    <a href="/about">About Us</a>
  </li>
</ul>

contact us